
/* .css-1v8cua7-MuiToolbar-root {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

.css-1v8cua7-MuiToolbar-root {
    padding-left: 16px !important; 
    padding-right: 16px !important;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  padding-left: 16px;
  padding-right: 16px;
}