.menu-pad {
    padding: 8px 16px !important;
  }
  
  .responsive-menu > Typography {
    color: gray;
  }
  
  .responsive-menu > Typography:hover {
    color: black;
  }
  

  @media (max-width: 1024px){
    
    .css-zxsdye{
        justify-content: space-between;
    }

  } 